@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
}

@layer components {
  .active {
    @apply min-w-[4rem] px-2 py-2  sm:px-3 sm:py-2 md:py-3 bg-rojoSpin opacity-80 rounded-sm text-xs uppercase font-black text-zinc-100 text-center
  }
  .notactive {
    @apply min-w-[4rem] px-2 py-2 sm:px-3 sm:py-2 md:py-3 bg-verdeSpin hover:bg-verdeSpinDark opacity-80 rounded-sm text-xs uppercase font-extrabold text-zinc-100 text-center
  }
}
