@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Avenue';
  src: url('./assets/fonts/MADEAvenuePERSONALUSE-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@layer components {
  .active {
    @apply p-2 sm:p-3 flex flex-col items-center gap-2 bg-rojoSpin opacity-80 rounded-full md:rounded-[90px]  text-zinc-100 text-center transition-colors 
  }
  .notactive {
    @apply p-2 sm:p-3 flex flex-col items-center gap-2 bg-verdeSpin hover:bg-verdeSpinDark opacity-80 rounded-full md:rounded-[90px]   text-zinc-100 text-center transition-colors
  }

  .transicion {
    animation: transicion  250ms ease-in-out;
  }
  @keyframes transicion {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .item:last-child:nth-child(3n - 1) {
    grid-column: span 2;
  }
  
  .item:nth-last-child(2):nth-child(3n + 1) {
    grid-column: 2 / span 2;
  }
}

.swiper {
  width: 100%;
  height: 100%; 
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .opt {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-pagination-bullet {
  background: rgb(241, 214, 198);
  filter: drop-shadow(0px 0px 8px rgb(82, 44, 3));
  filter:saturate(1);
}
.swiper-pagination-bullet-active {
  background: rgb(224, 166, 133);
  filter: drop-shadow(0px 0px 8px rgb(82, 44, 3));
  filter:saturate(1);
}

.swiper-button-prev,
.swiper-button-next {
  filter: drop-shadow(2px 2px 7px rgb(255, 87, 86));
}
.swiper-button-prev {
  background-image: url('./assets/prevcircle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 65%;
  filter:saturate(1);
  filter:drop-shadow(0px 0px 2px rgb(255,87,86))
}
.swiper-button-next {
  background-image: url('./assets/nextcircle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 65%;
  filter:saturate(1);
  filter:drop-shadow(0px 0px 2px rgb(255,87,86))
  /* transform: rotate(180deg); */
}
.swiper-button-prev::after {
  content: '';
  display: none;
}
.swiper-button-next::after {
  content: '';
  display: none;
}




@media screen and (max-width: 400px) {
  .swiper-button-next {
    background-size: auto 50%;
  }
  .swiper-button-prev {
    background-size: auto 50%;
  }
}
@media (max-width: 600px) {
  .swiper-button-next {
    background-size: auto 50%;
  }
  .swiper-button-prev {
    background-size: auto 50%;
  }
}
