@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
}

@layer components {
  .active {
    @apply p-3 flex flex-col items-center gap-2 bg-rojoSpin opacity-80 rounded-full md:rounded-[90px]  text-zinc-100 text-center
  }
  .notactive {
    @apply p-3 flex flex-col items-center gap-2 bg-verdeSpin hover:bg-verdeSpinDark opacity-80 rounded-full md:rounded-[90px]   text-zinc-100 text-center
  }

  .transicion {
    animation: transicion  250ms ease-in-out;
  }
  @keyframes transicion {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}


.swiper-pagination-bullet {
  filter: drop-shadow(0px 0px 8px rgb(82, 44, 3));
}
.swiper-pagination-bullet-active {
  filter: drop-shadow(0px 0px 8px rgb(82, 44, 3));
}

.swiper-button-prev, .swiper-button-next {
  filter: drop-shadow(2px 2px 7px rgb(255,87,86));
}

@media screen and (max-width: 400px) {
  .swiper-button-next {
    background-size: auto 40%;
  }
  .swiper-button-prev {
    background-size: auto 40%;
  }
}
@media (max-width: 600px) {
  .swiper-button-next {
    background-size: auto 70%;
  }
  .swiper-button-prev {
    background-size: auto 70%;
  }
} 